* {
  box-sizing: border-box;
}

/* GENERAL */
body {
  margin: 0;
  color: black;
}

/* Utility */

.row {
  display: flex;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

/* HEADER */

header {
  background-color: hsl(197, 19%, 19%);
}
.header {
  height: 120px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  height: 100%;
  align-items: center;
}
.logo img {
  height: 70%;
}
.user {
  height: 100%;
  align-items: center;
  gap: 40px;
}

.user__name {
  font-size: 2rem;
}
.user img {
  height: 50%;
}

/* ACCOUNT */
.account__header {
  padding: 1em;
  font-size: 3rem;
  justify-content: space-between;
}
